@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td {
  margin: 0;
  padding: 0;
}

body {
 width: 100%;
  color: #333;
  background: linear-gradient(to top, rgb(197, 244, 245) 0%, #fff 90%);
  font: 13px/1.231 arial,helvetica,clean,sans-serif;*font-size: small;*font:x-small;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

#wrap {
  width: 800px;
  margin: 0 auto;
}

#header {
  color: #333;
  padding: 10px 20px 5px 20px;
  border-bottom: 1px solid #999;
  /* ヘッダー固定 */
  /* position:fixed;
  top:0;
  left:0;
  z-index:24;
  width:100%; */
}

#header p {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

#header a {
  float: right;
  margin-top: 15px;
}

#header .btn {
  padding:3px 8px 2px;
}

#content {
  /* padding: 50px 0px 0px; */
  margin: 20px auto 35px;
  padding: 0px 10px;
  font-size: 153.9%;
  /* background-color: #BB1850; */
}
#contents {
  margin: 20px auto 35px;
  padding: 0px 10px;
  font-size: 153.9%;
}

#content p{
  margin: 10px 0px;
  /* text-align: center; */
}

#login_user {
  height: 62px;
  vertical-align:text-bottom;
  float: right;
}

#login_user p {
  padding: 16px 10px 35px 0px;
  margin: 3px 10px 0px 0px; 
  font-size: 160%;
  font-weight: normal;
  color: #333;
}

.file {
  padding: 10px;
}

#filesend {
  display: none;
}

#content img {
  margin: 20px 0px;
  /* border: 2px solid #085a99;
  border-radius: 10px; */
  height: auto;
  max-width: 500px;
  max-height: 500px;
  margin: auto 0px;
  display: block;
}

.view_box {
  margin-top: 30px;
  }

a {
  text-decoration: none;
  color: #999;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

fieldset,img {
  border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup {
  font-style: inherit;
  font-weight:inherit;
}

del,ins {
  text-decoration: none;
}

li {
  list-style: none;
}
caption,th {
  text-align: left;
}

h1,h2,h3,h4,h5,h6 {
  font-size :100%;
  font-weight: normal;
}

q:before,q:after {
  content: '';
}

abbr,acronym {
  border :0;
  font-variant: normal;
}

sup {
  vertical-align:baseline;
}

sub {
  vertical-align: baseline;
}

legend {
  color: #000;
}

input,button,textarea,select,optgroup,option {
  font-family: inherit;
  font-size: inherit;
  font-style:inherit;
  font-weight:inherit;
}
input,button,textarea,select {
  *font-size: 100%;
}
select,input,button,textarea,button {
  font: 99% arial,helvetica,clean,sans-serif;
}

table{
  font-size: inherit;
  font: 100%;
}

pre,code,kbd,samp,tt {
  font-family:monospace;
  *font-size:108%;
  line-height:100%;
}

h1 {
  padding-left: 25px;
  font-size: 197%;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

* html #content {
  height: 490px;
}

dl {
  margin-bottom: 10px;
}
dt {
  display: inline-block;
  border-radius: 30px;
  padding: 5px 12px;
  margin-bottom: 5px;
  font-size: 18px;
}

dt p {
  vertical-align: top;
}
dd {
  margin-bottom: 0.5em;
  padding-left: 15px;
}

label {
  font-size: 15px;
}

.required {
  color: #BB1850;
  font-size: 90%;
  padding: 2px;
  margin-left: 10px;
}


th, td {
  border: 1px solid #999;
  padding: 3px;
}

th {
  background-color: #106eb7;
  color: #fff;
  font-weight: bold;
}

li {
  list-style: circle;
  margin-left: 20px;
  margin-bottom: 0.5em;
}

.error {
  font-size: 90%;
  color: #BB1850;
}

#lead {
  margin-bottom: 1em;
}

.msg {
  clear: both;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.icon {
  border:1px solid #106eb7;
  /* box-shadow: 5px 5px 10px #000; */
  margin-right:10px;
  float: left;
}
.msg p {
  /* /* margin: 0; */
  /* line-height: 2.5em; */
  margin-bottom: 0.5em;
  font-size: 140%;
}

.msg .day,
.msg .day a {
  font-size: 80%;
  color: #999;
}

#post_image, #post_message, #re {
  margin-left: 65px;
}

#targetbox {
  margin: 20px 0px 0px; 
  border: 2px solid #106eb7;  /* 枠線 */
  /* border-radius: 0.33em;   角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  background-color: #fff;  /* 背景色 */
  width: 60%;             /* 横幅 */
  height: 10em;             /* 高さ */
}

input {
  border: 2px solid #106eb7;
  padding: 2px;
}

.admissionProcedure {
  font-size: 15px;
  border-top: 1px solid #999;
  margin-top: 20px;
  padding-top: 20px;
}

.confirmation {
  margin: 40px 0px 20px;
}

.confirmation {
  font-size:10px;
}
.thank{
  height: 1000px;
}
.footer {
  /* background-color: blueviolet; */
  height: 70px;
  padding-bottom: 10px;
  text-align: center;
  }

.footer small {
  display: block;
  padding: 20px 0px 5px;
  color: #fff;
}

.paging {
  padding-top: 15px;
  text-align: center;
}
.paging li {
  display: inline;
  list-style: none;
  color: #afdafa;
}

.paging li, .paging a {
  font-size: 10px;
  padding: 3px 5px 0px;
  color: #106eb7;
}

.btn-mod,
a.btn-mod{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 13px;
  color: #fff;
  background: #106eb7;
  border: 2px solid transparent;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);  
  -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000); 
  transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn-mod:hover,
.btn-mod:focus,
a.btn-mod:hover,
a.btn-mod:focus{
  font-weight: 400;
  color: rgba(255,255,255, .85);
  background: #106eb7;
  text-decoration: none;
  outline: none;
}
.btn-mod:active{
  cursor: pointer !important;
}

.btn-mod.btn-small{
  padding: 6px 17px;
  font-size: 11px;
  letter-spacing: 1px;
} 

.btn-mod.btn-border{
  color: #106eb7;
  border: 2px solid #106eb7;
  background: transparent;
}
.btn-mod.btn-border:hover,
.btn-mod.btn-border:focus{
  color: #fff;
  border-color: transparent;
  background: #106eb7;
}

.btn-mod.btn-circle{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}







@media screen and (max-width : 767px){
  img {
    max-width: 100%;
  }
  html,
  body,
  #wrap,
  #header,
  #content,
  #logout,
  #footer,
  .msg,
  .paging
  .form {
    width: 95%;
    margin-left:5px;
  }

  #targetbox {
    border: 2px solid #106eb7;
    border-radius: 0.33em;   
    padding: 0.5em;          /* 内側の余白量 */
    background-color: #fff;  /* 背景色 */
    width: 90%;             /* 横幅 */
    height: 3em;             /* 高さ */
    }
  

  input,button,textarea,select,optgroup,option {
    font-family: inherit;
    font-size: inherit;
    font-style:inherit;
    font-weight:inherit;
  }
  input,button,textarea,select {
    *font-size: 100%;
  }

  #form #targetbox {
    width: 94%;
    /* height: 200px; */
  }
  #content img {
    margin: 20px 0px;
    /* border: 2px solid #085a99;
    border-radius: 10px; */
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto 0px;
    display: block;
  }

}